/*
header blue rgb(109, 109, 253);
*/

header {
    background-color: rgb(109, 109, 253);
    padding: 15px;
    border: solid black 5px;
}
.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height:50px;
    padding-left: 5%;
}

.header-left {
    display: inline-flex;
    justify-content: right;
    margin: auto 0;
}

.header-name {
    
    display: inline-flex;
    justify-content: left;
    margin: auto 0;
    font-size: 30px;
    font-family: 'Sigmar One', cursive;
}
.head-name {
    color: rgb(255, 184, 51);
}

.head-name :hover {
    color: red;
}