/*
header blue rgb(109, 109, 253);
*/

header {
    background-color: rgb(109, 109, 253);
    padding: 15px;
    border-bottom: solid rgb(73, 36, 110) 5px;
}
.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height:50px;
    padding-left: 5%;
}

.header-left {
    display: inline-flex;
    justify-content: right;
    margin: auto 0;
}

.header-name {
    
    display: inline-flex;
    justify-content: left;
    margin: auto 0;
    font-size: 35px;
    font-family: 'Fugaz One', cursive;
}
.head-name {
    color: rgb(255, 234, 195);
    text-decoration: none;
}

.head-name:hover {
    color:rgb(73, 36, 110)
}
.nav-link {
    color: rgb(255, 234, 195);
    font-family: 'Bevan', cursive;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color:rgb(73, 36, 110)
}

